# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Virtual envs
carla37/
.venv/
venv/

# Data
dataset*/
data*/
*.zip
*.tar
*.tar.gz

# Weights / outputs
*.pt
*.pth
checkpoints/
runs/
wandb/
logs/
outputs/
videos/
*.png

# Evaluation / scratch outputs
*.csv
d0/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
